@import "https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Abril+Fatface";
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
} */
:root {
  --swiper-theme-color: #fff;
}

.red {
  color: #F55050;
}

.green {
  color: #297a3c;
}

.orange {
  color: rgb(255, 156, 57);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  scroll-behavior: smooth;
}

#search {
  scroll-margin: 120px;
}

header {
  position: relative;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-size: cover;
  z-index: 99;
}
nav .burger {
  position: absolute;
  font-size: 20px;
  right: 90px;
  top: 45px;
  display: none;
  color: #fff;
  cursor: pointer;
}
nav .logo a {
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  font-family: "Abril Fatface";
  line-height: 10px;
}
nav .logo a span {
  font-size: 12px;
  font-weight: 300;
}
nav .links ul {
  display: flex;
  gap: 20px;
}
nav .links ul li {
  list-style: none;
  padding: 5px 10px;
}
nav .links ul li a {
  text-decoration: none;
  color: #fff;
}
nav .username {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
nav .add-shooting {
  font-weight: 800;
}
nav .red {
  color: #F55050;
}
nav .green {
  color: #50f577;
}

nav.logged {
  background: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
}

.logged.sticky {
  position: fixed;
  background: rgba(0, 0, 0, 0.913);
  -webkit-animation: fadenav 1s ease-in-out;
          animation: fadenav 1s ease-in-out;
}

@-webkit-keyframes fadenav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadenav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 20px 0 20px 0;
}

h2 {
  margin: 15px 0 15px 0;
}

section {
  padding: 120px 80px;
}
section h1 {
  font-size: 50px;
}
section h2 {
  margin-top: 50px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type=checkbox] {
  width: 30px;
}

input[type=radio] {
  width: 30px;
}

input[type=range] {
  accent-color: #F55050;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.requests-list {
  width: 100%;
}
.requests-list table {
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
}
.requests-list table th {
  text-align: left;
  background: rgb(45, 45, 45);
  color: #fff;
  padding: 20px 10px;
}
.requests-list td {
  padding: 10px;
}

.calendar {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.calendar table th {
  text-align: center;
  background: rgb(215, 215, 215);
  color: #000;
  padding: 5px;
}
.calendar table td {
  padding: 0;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-3 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-4 {
  flex: 0 0 24%;
  max-width: 24%;
}

.col-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.stretch {
  display: flex;
  align-items: stretch;
}
.stretch .row {
  flex: 1;
}

.parallax {
  position: relative;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.pagination {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pagination a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.pagination .current {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-weight: 800;
  color: #fff;
  background: #bbb;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0 20px 0;
  border: none;
  cursor: pointer;
  background: rgb(230, 161, 1);
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.5s;
}
.btn:hover {
  background: rgb(255, 179, 0);
}

.btn.btn-ok {
  background: rgb(92, 188, 88);
  font-size: 12px;
  margin: 0;
}

.btn.btn-ko {
  background: rgb(188, 88, 88);
  font-size: 12px;
  margin: 0;
}

.btn.btn-info {
  background: rgb(19, 108, 140);
  font-size: 12px;
  margin: 0;
}

.register {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: url(../img/bg4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.register input {
  background: rgba(255, 255, 255, 0.616);
}

.login-section {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: url(../img/bg4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.login-section input {
  background: rgba(255, 255, 255, 0.616);
}

.heading-jumbo {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: url(../img/bg-hero.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-jumbo h1 {
  font-size: 80px;
  color: #fff;
  font-family: "Abril Fatface";
  border: none;
  line-height: 60px;
}
.heading-jumbo p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
}
.heading-jumbo .socials {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.heading-jumbo .socials .fa-brands {
  color: #fff;
  font-size: 25px;
}

.search {
  background: #fff;
  z-index: 1000;
  transform: translateY(-20%);
  width: 70%;
  padding: 20px 40px;
  margin: auto;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 25px 20px -20px;
  z-index: 10;
}
.search h4 {
  text-align: center;
  margin-bottom: 20px;
}
.search .search-items {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search .search-items input, .search .search-items select {
  display: inline-flex;
  width: 100%;
}
.search .search-items p {
  text-align: left;
  font-weight: 800;
  width: 10%;
}
.search .search-items .btn-search {
  background: rgb(119, 119, 119);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 30px;
}
.search .search-items .reset {
  padding: 10px;
  height: 35px;
  width: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgb(223, 223, 223);
  color: #fff;
  transition: 0.5s;
}
.search .search-items .reset:hover {
  background: rgb(167, 167, 167);
}
.search .search-items .input-width {
  display: flex;
  gap: 10px;
}

.shootings {
  padding-top: 40px;
}
.shootings h1 {
  font-size: 50px;
  color: rgb(88, 88, 88);
  border: none;
  text-align: center;
  padding-bottom: 30px;
}

.shootings-list {
  margin-top: 20px;
}
.shootings-list .row {
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.shooting-myitem {
  position: relative;
  background: #fff;
  width: 500px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.107) 0px 25px 30px -20px;
}
.shooting-myitem:hover .shooting-card-edit {
  opacity: 1;
  right: 10px;
}
.shooting-myitem:hover .shooting-myitem-image .overlay {
  opacity: 0;
}

.shooting-myitem-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.shooting-myitem-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  display: block;
  transition: 0.5s;
}
.shooting-myitem-image .new-photographer {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 10;
}
.shooting-myitem-image i {
  color: rgb(41, 196, 139);
  font-size: 20px;
}
.shooting-myitem-image:hover .swiper-button-next::after {
  opacity: 1;
}
.shooting-myitem-image:hover .swiper-button-prev::after {
  opacity: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.635) 0%, rgba(0, 0, 0, 0) 80%);
  transition: 0.5s;
  opacity: 1;
  z-index: 1;
}

.shooting-myitem-text {
  padding: 5px 5px 40px 5px;
}
.shooting-myitem-text a {
  display: inline-block;
  text-decoration: none;
  color: rgb(50, 50, 50);
  padding: 10px 0 0 0;
  font-size: 18px;
  font-weight: 700;
}
.shooting-myitem-text .owner-comments {
  display: flex;
  justify-content: space-between;
  color: rgb(173, 173, 173);
  font-weight: 500;
  padding-right: 20px;
  margin-bottom: 10px;
}
.shooting-myitem-text .price-packages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.shooting-myitem-text .price-packages strong {
  color: rgb(24, 126, 142);
}
.shooting-myitem-text .price-packages .packageFrom {
  padding: 5px 10px;
}
.shooting-myitem-text .price-packages .countPackages {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 10px;
  color: #fff;
  background: rgb(255, 180, 75);
  border-radius: 5px;
}
.shooting-myitem-text .title-favorite {
  display: flex;
  justify-content: space-between;
  color: rgb(173, 173, 173);
  font-weight: 500;
  padding-right: 20px;
}
.shooting-myitem-text .title-favorite .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.shooting-myitem-text .title-favorite .right a {
  font-size: 15px;
  color: rgb(168, 168, 168);
}

.red-heart {
  color: rgb(255, 95, 95);
}

.gray-heart {
  color: rgb(78, 78, 78);
}

.shooting-card-edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(227, 8, 67);
  top: 10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  opacity: 0;
  right: -50px;
  transition: 0.5s;
  z-index: 2;
  border-radius: 50%;
}
.shooting-card-edit a {
  text-decoration: none;
  color: #fff;
}

.shooting-heading {
  position: relative;
  min-height: calc(100vh - 200px);
  padding: 40px;
  background: rgb(240, 240, 240);
  border-radius: 5px;
}
.shooting-heading h1 {
  color: rgb(97, 97, 97);
}
.shooting-heading h2 {
  margin-bottom: 0;
}
.shooting-heading .shooting-content {
  padding: 10px 50px 10px 0px;
  text-align: justify;
}
.shooting-heading .map-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.shooting-heading .map-content iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(0);
}
.shooting-heading .map-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.button-edit-shooting {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
}
.button-edit-shooting a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
}
.button-edit-shooting a:first-child {
  background: rgb(59, 59, 59);
}
.button-edit-shooting a:last-child {
  background: rgb(5, 122, 143);
}

.shooting-description {
  color: rgb(117, 117, 117);
  margin-top: 15px;
}

.shooting-owner {
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 0;
}

.shooting-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shooting-image-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.shooting-image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.shooting-image-item .image-supp {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.543);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.shooting-image-item .image-supp a {
  font-size: 1.2em;
  line-height: 10px;
  color: rgb(178, 11, 11);
  text-decoration: none;
}
.shooting-image-item .overlay-zoom {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(46, 46, 46, 0.543);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.shooting-image-item .overlay-zoom i {
  font-size: 2em;
  color: #fff;
  transition: 1s;
}
.shooting-image-item .overlay-zoom:hover {
  opacity: 1;
}
.shooting-image-item .overlay-zoom:hover i {
  transform: rotate(90deg);
}
.shooting-image-item:hover img {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  background: rgba(0, 0, 0, 0.8);
  -webkit-animation: fade 0.5s linear;
          animation: fade 0.5s linear;
}
.lightbox img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox:target {
  display: block;
}

.packages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.packages .package-item {
  position: relative;
  width: 300px;
  padding: 20px;
  border: 1px dashed #ccc;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.114) 0px 30px 60px -30px;
  transition: 0.5s;
}
.packages .package-item:hover {
  transform: translateY(-10px);
}
.packages .package-item .price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 15px;
  background: rgb(7, 113, 121);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

.package-item .edit-delete {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.package-item .edit-delete a {
  background: #fff;
  text-decoration: none;
  color: #bbb;
}

.shooting-comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shooting-comments .comment-item {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  background: rgb(242, 241, 241);
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
}
.shooting-comments .comment-item h4 {
  font-size: 17px;
}
.shooting-comments .comment-item .comment-date {
  color: rgb(166, 166, 166);
  margin-bottom: 10px;
}
.shooting-comments .comment-item .comment-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shooting-comments .comment-item .comment-edit a {
  font-size: 1.2em;
  line-height: 10px;
  color: rgb(178, 11, 11);
  text-decoration: none;
}

.book-planner {
  display: none;
  height: 0;
  opacity: 0;
  -webkit-animation: fadeOut 1s ease-out;
          animation: fadeOut 1s ease-out;
}

.book-planner.active {
  display: block;
  height: auto;
  opacity: 1;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.testimonials {
  height: 400px;
  padding: 50px 80px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.parallax-bg1 {
  background-image: url(../img/parallax.jpg);
}

.user-shootings-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-shootings-wrapper h1 {
  color: rgb(88, 88, 88);
  text-align: center;
}

.user-shootings {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 0;
}

.user-shooting-item {
  position: relative;
  width: 250px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.792) 0px 25px 20px -20px;
  cursor: pointer;
}
.user-shooting-item:hover .user-shooting-item-actions {
  right: 0;
}
.user-shooting-item:hover .user-shooting-item-img img {
  transform: scale(1.05);
}

.user-shooting-item-img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.user-shooting-item-img img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}

.user-shooting-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 20px;
  word-wrap: break-word;
  transition: 1s;
  background: rgb(0, 0, 0);
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.911) 0%, rgba(0, 0, 0, 0.562) 50%, rgba(0, 0, 0, 0) 100%);
}

.user-shooting-item-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  transition: 0.5s;
}
.user-shooting-item-actions a {
  text-decoration: none;
  height: 33px;
  width: 33px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.868);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}
.user-shooting-item-actions a:hover {
  background: rgb(255, 255, 255);
}
.user-shooting-item-actions .active {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.user-shooting-item-actions .edit {
  color: rgb(5, 122, 143);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.user-shooting-item-actions .delete {
  color: red;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.green-eye {
  color: green;
}

.red-eye {
  color: red;
}

.active-shooting {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.active-shooting.red {
  background: red;
}

.active-shooting.green {
  background: green;
}

footer {
  width: 100%;
  height: 80px;
  background: rgb(16, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #fff;
}

.tox-notifications-container {
  display: none;
}

.swiper-wrapper {
  z-index: 1;
}

.swiper-button-next:after {
  opacity: 0;
  transition: 0.5s;
  font-family: swiper-icons;
  font-size: 12px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: black;
  background: #fff;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.swiper-button-prev:after {
  opacity: 0;
  transition: 0.5s;
  font-family: swiper-icons;
  font-size: 12px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: black;
  background: #fff;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

@media (max-width: 1120px) {
  .row {
    width: 100%;
  }
  .col-4 {
    flex: 0 0 49%;
    max-width: 49%;
  }
  .shooting-comments .comment-item {
    width: 100%;
  }
  .shooting-image-item {
    width: 100%;
  }
}
@media (max-width: 1150px) {
  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .shooting-heading .row {
    flex-direction: column;
  }
  .shooting-heading .row .map-content {
    display: none;
  }
  .search {
    transform: translateY(10%);
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .search .search-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .search .search-items p {
    width: 100%;
    text-align: center;
  }
  .search .search-items .btn-search {
    border-radius: 0;
    width: 20%;
    margin-left: 0;
  }
  .search .search-items input {
    margin: 0;
  }
}
@media (max-width: 980px) {
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 850px) {
  .heading-jumbo h1 {
    font-size: 200%;
  }
  .heading-jumbo p {
    padding: 0 20px;
    text-align: center;
  }
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  nav .links {
    display: none;
  }
  nav .burger {
    display: inline-block;
  }
  .input-width {
    flex-direction: column;
    width: 100%;
  }
  .user-shooting-item {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .logo {
    display: none;
  }
  h1 {
    font-size: 200% !important;
  }
  nav {
    padding: 0;
  }
  nav.logged.sticky {
    background: #fff;
    height: auto;
  }
  nav.logged {
    background: #fff;
    height: auto;
  }
  nav.logged .burger {
    color: #000;
  }
}
@media (max-width: 400px) {
  .shooting-heading h1 {
    font-size: 100%;
  }
  .testimonials h1 {
    font-size: 100%;
  }
}
.menuOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.menuOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.menuOverlay a:hover, .menuOverlay a:focus {
  color: #f1f1f1;
}
.menuOverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */