{% extends 'base.html.twig' %}

{% block title %}PHOTOBOOK - Add a package{% endblock %}

{% block body %}

<section class="">
    <h1>Add a package in « {{ shooting.title }} »</h1>
    {{ form(formAddPackageShooting) }}

{% endblock %}