{% extends 'base.html.twig' %}

{% block title %}PHOTOBOOK - Add a package{% endblock %}

{% block body %}

<section class="">

    {% if editMode %}
        <h1>Edit a package in « {{ shooting.title }} »</h1>    
    {% else %}
        <h1>Add a package in « {{ shooting.title }} »</h1>
    {% endif %}

    {{ form(formAddPackageShooting) }}

{% endblock %}